* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    /* background-color: cornsilk; */
    /* background-color: orange; */
    background-color: #ECE3F0;
}

.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar > a,
.navbar > span > a {
    padding: 2rem;
}
.tray {
    padding: 1rem;
}
.logo,
.dashboardlink {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    cursor: pointer;
}
.logo {
    margin-left: 2rem;
    font-weight: 400;
}
.dashboardlink {
    margin-right: 2rem;
    padding: 0.6rem;
    transition: all 0.4s ease-in;
}
.dashboardlink:hover {
    /* background-color: lightpink; */
    background-color: #D3BBDD;
    border-radius: 0.5rem;
}
.logout {
    margin-right: 2rem !important;
    padding: 1rem !important;
    cursor: pointer !important;
    transition: all 0.3s ease-in-out !important;
}
.logout:hover {
    /* background-color: lightpink !important; */
    background-color: #D3BBDD !important;
    border-radius: 1rem !important;
}

.main {
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.leftpane {
    width: 40%;
    height: 80%;
    /* background-color: blueviolet; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rightpane {
    width: 40%;
    height: 80%;
    /* background-color: blueviolet; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightpane-logo {
    width: 80%;
    animation: float2 8s ease-in-out infinite;
    user-select: none;
    -webkit-user-drag: none;
}
@keyframes float2 {
	0% {
		transform: translatey(0);
	}
    25% {
		transform: translatey(5px) rotate(3deg);
    }
	50% {
		transform: translatey(-7px);
	}
    75% {
		transform: translatey(5px) rotate(-3deg);
    }
	100% {
		transform: translatey(0);
	}
}

.leftpane-title,
.rightpane-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#bill-input {
    padding: 0.7rem;
    margin-bottom: 1rem;
    /* outline: 1px solid lightcoral; */
    outline: 1px solid #D3BBDD;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}
#bill-input:focus {
    /* outline: 2px solid lightcoral; */
    outline: 2px solid #D3BBDD;
    /* box-shadow: 0 0 20px 2px lightcoral; */
    box-shadow: 0 0 20px 2px #D3BBDD;
}
#checkout-button {
    padding: 0.7rem 0.7rem 0.7rem 0.8rem;
    /* outline: 1px solid lightcoral; */
    outline: 1px solid #D3BBDD;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    color: rgb(88, 97, 105);
}
#checkout-button:hover {
    color: black;
    /* background-color: lightpink; */
    background-color: #D3BBDD;
    /* outline: 2px solid lightcoral; */
    outline: 2px solid #D3BBDD;
    /* box-shadow: 0 0 20px 2px lightcoral; */
    box-shadow: 0 0 20px 2px #D3BBDD;
}

.coin {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* background-color: thistle; */
}
.coin > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.coin > div:nth-child(2) {
    justify-content: flex-end;
}
.coin > div > span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}
.coin-icon {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: lightpink; */
    background-color: #D3BBDD;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}
.team-name {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icons {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icons > span {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.icons > span:hover {
    transform: scale(1.4);
}
.navbar > a,
.navbar > span > a,
.icons > span > a,
.navbar > a:hover,
.icons > span > a:hover {
    text-decoration: none;
    color: inherit;
}
.popup-background {
    visibility: hidden !important;
    position: absolute !important;
    /* display: none !important; */
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    /* background-color: #ff69b44d; */
    background-color: #00000083;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.popup {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    height: 40%;
    border-radius: 1rem;
    background-color: #ECE3F0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.popup-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}
.popup-title,
.popup-close {
    padding: 1rem;
}
.popup-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.coins-recieved {
    flex: 1;
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.coins-recieved-value {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

/* Utility Classes */
.cursor-pointer {
    cursor: pointer !important;
}
.popup-show {
    visibility: visible !important;
    /* display: block !important; */
}
.popup-hide {
    visibility: hidden !important;
    /* display: none !important; */
}