* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #ECE3F0;
}

span {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
}
label,p {
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}
#name,
#password {
    padding: 0.7rem;
    margin-bottom: 1rem;
    outline: 1px solid #D3BBDD;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.1s ease-in-out;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
}
#name:focus,
#password:focus {
    outline: 2px solid #D3BBDD;
    box-shadow: 0 0 20px 2px #D3BBDD;
}

p {
    margin: 0;
}
#gender-male,
#gender-female {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #C26DBC;
    transition: 0.2s all linear;
    margin-right: 0.3rem;
}
#gender-male:checked,
#gender-female:checked {
    border: 6px solid #C26DBC;
}
span > label {
    cursor: pointer;
    margin-right: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.button-tray {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button-tray > button {
    flex: 1;
}
#signup-btn {
    margin-right: 0.5rem;
}
#login-btn {
    margin-left: 0.5rem;
}

button {
    /* width: fit-content;
    height: fit-content; */
    margin-top: 1.8rem !important;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    outline: 1px solid #D3BBDD;
    border: none;
    border-radius: 0.5rem !important;
    transition: all 0.1s ease-in-out;
    background-color: white;
    color: rgb(88, 97, 105);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
button:hover {
    color: black;
    background-color: #d5b2e4;
    outline: 2px solid #D3BBDD;
    box-shadow: 0 0 20px 2px #D3BBDD;
}
button:hover > .btn-icon {
    transform: translateX(0.5rem);
}
.btn-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
    margin: 0;
}
.btn-icon {
    margin: 0 0 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}